<div class="cont-config">
<p>configuracion</p>
<div class="row">
<div class="cont-category col-4">

  <div class="cont-header-category">
    <h3 class="title-category">titulo categoria</h3>
    <div class="cont-btn">
    <!-- <button class="btn-agreg-plato"><a href=""><i class="fa-solid fa-plus fa-2xs"></i></a></button> -->
    </div>
  </div>
  <!-- platos -->
  <div class="cont-platos">
    <p class="plato">plato</p>
    <p class="plato">plato</p>
    <p class="plato">plato</p>
    <p class="plato">plato</p>
  </div>

</div>
</div>

<!-- botn flotante -->
<div class="cont-btn-float">

  <button class="btn-modal" data-bs-toggle="modal" data-bs-target="#modal-config"><h2>+</h2></button>

</div>

<!-- caja de modal -->
<div class="modal" id="modal-config" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-1">
    
    <div class="modal-dialog">

        <!-- Contenido del modal -->

        <div class="modal-content modal-color">
            <div class="modal-header">
              <h5 class="modal-title">Agregar categoria</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="category-form">
              <input type="text"  placeholder="Categoria" ngModel="name">
            </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
              <button type="button" class="btn btn-primary"><p>guardar</button>
            </div>
        </div> 
       
    </div>

</div>
</div>
