<div class="">

  <div class="cont-config  ">
    <div class="cont-title-section">
      <h2 class="title-section">CONF. MENU</h2>
    </div>
    <div class="row" *ngIf="allCategorys">
    <!-- categorys -->
      <div class=" col-xl-3 col-lg-4 col-10 col-sm-6" *ngFor="let data of allCategorys">
        <div class="cont-category mt-4 position-relative">
        <div class="cont-btn-delete-category position-absolute">
          <a class="btn-delete-redondo btn-redondo d-flex justify-content-center align-content-center" (click)="categoryDelete(data._id)"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="cont-tarjet-gradient">
          
          <div class="cont-header-category">
            <div class="cont-title">
              <h3 class="title-category">{{data.name}}</h3>
            </div>
            <div class="cont-btn">
              <a class="btn-agreg-plato d-flex justify-content-center align-content-center" (click)="showModalCategory(data._id)"><i class="fa-solid fa-plus  p-0 mb-0"></i></a>
            </div>
          </div>
          
          <!-- platos -->
          <div class="cont-platos">
            <div *ngFor="let dat of platosPerCategory"> 
              <div class="cont-body row" *ngIf="dat.category == data.name">    
                <div class=" w-100 d-flex justify-content-center">
                  
                  <div class="float-lg-start">
                    <span class="plato-font">{{dat.name}}</span>
                  </div>
                  
                  <div class="cont-btn-delete d-flex w-100 justify-content-end">
                    <span class="plato-font">${{dat.precio}}</span>
                    <a class="btn-delete" (click)="platoDelete(dat._id)"><i class="fa-regular fa-trash-can fa-xs"></i></a>
                  </div>

                </div>   
              </div>
            </div> 
          </div>
        </div>

        <!-- modal plato -->
        <div class="modal"  id="{{data._id}}" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-1">
          <div class="modal-dialog">

            <div class="modal-content modal-color ">
              
              <div class="bg-default container modal-body">
                <div class="cont-header">
                  <div class="cont-img"></div>
                </div>

                <form  [formGroup]="formPlato">
                  <div class="col-12 form-row">
                    <div class="cont-input">
                      <input class="col-8 input-default" type="text" placeholder="Nombre del Plato" formControlName="name">
                    </div>
                  <div class="cont-input">
                    <input class="col-8 input-default" type="text" placeholder="Precio" formControlName="precio">          
                  </div>
                  <div class="cont-input">
                    <input class="col-8 input-default" type="text" placeholder="Porcion para cuantos" formControlName="numberPerson">
                  </div>
                  </div>
                  <div class="cont-input">
                    <input class="col-8 input-default" type="text" placeholder="Descripcion" formControlName="description">
                  </div>
                  <div class="cont-btn-save">             
                    <button  class="btn btn-primary" (click)="sendPlato(data.name)">Guardar</button>
                  </div>
                </form>

              </div>
            </div> 
          </div>
        </div>
      </div>
      </div>
    </div>

    <!-- btn flotante -->
    <div class="cont-btn-float">

      <button class="btn-modal" data-bs-toggle="modal" data-bs-target="#modal-config"><h2>+</h2></button>

    </div>

    <!-- modal category -->
    <div class="modal" id="modal-config" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-1">
        
      <div class="modal-dialog">      
            <!-- Contenido del modal -->

          <div class="bg-default modal-content modal-color">
                <div class="modal-header">
                  <h5 class="modal-title">Agregar categoria</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form class="category-form" [formGroup]="formCategory">
                    <input class="category-input" type="text" placeholder="Categoria" formControlName="name">
                    <select class="form-select category-select" aria-label="Seleccionar" formControlName="type">
                      <option value="eat">Comida</option>
                      <option value="drink">Bebida</option>
                    </select>
                  </form>
                </div>
                <div class="modal-footer">             
                  <button  class="btn btn-primary" (click)="sendCategory()" [disabled]="formCategory.invalid">guardar</button>
                </div>
          </div>      
      </div>
    </div>
  </div>
</div>
