.cont-config {
    background-color: #242424;
    
    height: 100vh;
}

.cont-btn-float {
    position: fixed;
    right: 25px;
    bottom: 15px;
    
}

.cont-btn-float .btn-modal {
    text-decoration: none;
    border-radius: 50%;
    padding: 6px 15px 6px 15px;
    border: 1.5px solid #E87B13;
    background-color: #E87B13;
}

.cont-btn-float .btn-modal h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto';
    font-weight: 300;
    color:#242424;
}

.cont-btn-float .btn-modal:hover {
    box-shadow: 0 0 6px #E87B13;
}



.cont-btn-delete-category {
    right: 2%;
    top: -7%;
}

.btn-delete-redondo {
    padding: 3px 6px 3px 6px;
    background: #E87B13;
    color: #242424;
    border-bottom: 2px  2px 2px 2px solid #E87B13;
    transition:all 0.2s ease;
}

.btn-delete-redondo:hover{
    background: #000;
    color: #E87B13;
}

.btn-redondo {
    border-radius: 50%;
    text-decoration: none;
}








