<div class="cont-select-menu" *ngIf="!stepMenu">
    <div *ngFor="let dato of contCategorys">
        <a *ngIf="typeView == dato.type" (click)="selectionCategory(dato.name)">
            {{dato.name}}
        </a>
    </div>
</div>
<div class="bg-default">
<div class="cont-select-menu row bg-default" *ngIf="stepMenu">
    <div class="card col-4" *ngFor="let dato of contMenu">
        <div class="card-body">
            <h5 class="card-title">{{dato.name}}</h5>
            <p>{{dato.cant}}</p>
            <a class="btn btn-primary" (click)="addPlato(dato)">mas</a>
            <br><br>
            <a class="btn btn-primary" (click)="deletePlato(dato)">menos</a>
        </div>
    </div>
</div>
</div>

<div>
    <a class="btn-default" (click)="toggleTypeFood()">SOY TOGGLE</a>
</div>
