.cont-select-menu{
    max-width: 100vh;
    position: relative;
    margin: auto;
}

.label-cant{
    margin-top:0;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;
    color: #FFFFFF;
    

}
.precio-top{
    color: #E87B13;


}

.item-title {
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #F9F9F8;
margin-bottom: 0;
text-transform: uppercase;

}

.p-description{
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}

.description { 
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}

.cont-footer-tarjet{
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-right: 0;
}



.category{
    text-decoration: none;    
}

.t-category{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: #F9F9F8;
    text-transform: uppercase;
}


.btn-text{
    text-decoration: none;
    color: #E87B13
}

.section-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid #FFFFFF;
    background: #FAFAFA;
    width: 100%;
    /* height: 20vh; */
}
.cont-nav-menu {
    width: 100%;
    top: -13px;
    position: absolute;
}

.nav-menu{
    text-decoration: none;
    color: #B0B0B0;
    border-radius: 50%;
    background: #FAFAFA;
    /* border: 1px solid black; */
    /* width: 38px; */
    padding: 20px 18px;
    margin: 28px;
}

.nav-menu i {
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.btn-next{
    text-decoration: none;
    padding: 12px 8rem;
    background-color: #142253;
    border-radius: 16px;
   
    
}

.t-btn {
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}

.phantom-space{
    width: 100%;
    height: 100px;
}

.t-size{
    font-size: 18px;
    color: #142253;
}

.arrow{
    font-size:28px;
    color: #E87B13;
}

.img-category {
    border: 2px solid #F9F9F8;
    border-radius: 50%;
    padding: 15px 15px;
    width: 100%;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    /* margin-top: 10px; */
}

.cont-category {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    padding: 8px 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    background: linear-gradient(229deg, #E87B13 -74.28%, #242424 24.88%, #242424 92.43%, #9F5A19 122.09%);
}

.img-plato {
    border: 2px solid #F9F9F8;
    border-radius: 50%;
    padding: 15px 15px;
    width: 100%;
    width: 60px;
    height: 60px;
    /* margin-top: 10px; */
}

.b-redondo {
    border-radius: 12px;
}

.t-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.t-name{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.t-precio{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #E87B13;
}




